body{
    margin: 0;
    padding: 0;
}
.mainbox{
    display: flex;
    background-color: white;
    margin: 1.5rem;
}
.firstbox{
    width: 800px;
    height: 350px;
    margin: rem;
    background-color: hsl(31, 77%, 52%);
}
h1{
    color:hsl(0, 0%, 95%) ;
    margin-left: 1.5rem;
    margin-top: 1.5rem;
}
p{
    color:hsla(0, 0%, 100%, 0.75) ;
    margin-left: 1.5rem;
    margin-right: 1.3rem;
    margin-top: 1rem;
}
.button{
    color: hsl(0, 0%, 95%) ;
     font-size: large;
     margin: 3rem;
     background-color: hsl(0, 0%, 95%) ;
     height: 30px;
     width: 130px;
     border-radius: 50px;
    
     
}
img{
    margin-top: 2rem;
    margin-left: 1.5rem;
}
h3{
    color:hsl(31, 77%, 52%) ;
    align-items: center;
    margin-left: 1rem;
}
.secondbox{
    width: 800px;
    height: 350px;
    margin: rem;
    background-color:hsl(184, 100%, 22%) ;
}
.thirdbox{
    width: 800px;
    height: 350px;
    margin: rem;
    background-color: hsl(179, 100%, 13%) ;
}